# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Data and models
data/
models/

# Streamlit cache
.streamlit/

# Transformers cache (optional)
~/.cache/huggingface/

# Others
*.sqlite3
*.db
